.legal-page {
  padding: 80px 20px;
  background: #f8fafc;
  min-height: 80vh;
}

.legal-container {
  max-width: 800px;
  margin: 0 auto;
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  line-height: 1.8;
  color: #1e293b;
}

.legal-container h1 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  margin: 30px 0 30px;
  color: #9333ea;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.legal-container h2 {
  font-size: 2.0rem;
  font-weight: 600;
  margin: 30px 0 20px;
  color: #9333ea;
  display: flex;
  gap: 16px;
}

.legal-container a {
  color: #7c3aed;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .legal-container {
    padding: 24px;
  }
}

/*.legal-hero {
  height: 40vh;
  min-height: 260px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.65)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}*/

.legal-hero h1 {
  font-size: 42px;
  font-weight: 700;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.legal-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 20px;
}

.legal-content h2 {
  font-size: 28px;
  color: #5b21b6;
  margin-top: 16px;
  margin-bottom: 16px;
}

.legal-content p {
  font-size: 16px;
  line-height: 1.8;
  color: #475569;
}

.legal-content a {
  color: #5b21b6;
  text-decoration: underline;
}

.legal-content a:hover {
  opacity: 0.85;
}

@media (max-width: 768px) {
  .legal-hero h1 {
    font-size: 32px;
  }

  .legal-content {
    padding: 20px 16px;
  }
}


.legal-page {
  background: #f8fafc;
  min-height: 100vh;
}

.legal-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 20px;
}

.legal-content h1 {
  /*font-size: 42px;
  color: #5b21b6;
  text-align: center;*/
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  margin: 30px 0 30px;
  color: #9333ea;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.legal-content h2 {
  /*font-size: 28px;
  color: #5b21b6;*/
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin: 80px 0 50px;
  color: #9333ea;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.legal-content p,
.legal-content li {
  font-size: 16px;
  line-height: 1.8;
  color: #475569;
}

.legal-content ul {
  padding-left: 20px;
}

/* TERMS PAGE LIST */
.terms-list {
  margin-top: 32px;
  padding-left: 20px;
}

.terms-list li {
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 1.8;
  color: #475569;
}

.terms-list li strong {
  color: #5b21b6;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 6px;
}

/* Footer note */
.legal-updated {
  margin-top: 40px;
  color: #64748b;
  font-size: 14px;
}
